.button {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color .3s ease-in;
  animation: componentMount .5s ease-in 1;
}

@media screen and (min-width: 700px) {
  .button:hover {
    background-color: #666;
  }
}

@keyframes componentMount {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
