.wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  animation: componentMount .5s ease-in 1;
}

.loading_blur {
  filter: blur(2px);
}

.input_error {
  border-color: rgb(249, 93, 81);
}

.form {
  transition: filter .3s ease-in;
}

.form_inputbox {
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: max-height 0.3s cubic-bezier(.19,1,.22,1),opacity 0.3s linear;
  transition: max-height 0.3s cubic-bezier(.19,1,.22,1),opacity 0.3s linear;
  max-height: 5000px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.input_group {
  display: flex;
  vertical-align: bottom;
}



.input_block { 
  height: 100%;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.input {
  margin: 0;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  border-radius: 0;
  font-family: 'Roboto',Arial,sans-serif;
}

.form__submit {
  display: table-cell;
  vertical-align: bottom;
  height: 100%;

}

.submit {
  color:#ffffff;
  background-color:#000000;
  position: relative;
  text-align: center;
  height: 60px;
  border: 0;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 700;
  white-space: nowrap;
  background-image: none;
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto',Arial,sans-serif;
  transition: opacity .3s ease-in;
}

.submit:hover {
  opacity: .7;
}

@media (max-width: 720px) {
  .input_group:first-child {
    width: 100%;
    margin-bottom: 15px;
  }
  .input_group:last-child {
    width: 100%;
    justify-content: center;
  }
  .input_block:last-child {
    padding-right: 0;
  }

}
@media (max-width: 500px) {
  .input_group:first-child {
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  .input_block {
    padding-right: 0px;
    /* margin-bottom: 0; */
  }
  .input_block:first-child {
    padding-bottom: 20px;
  }
  .form_inputbox {
    flex-direction: column;
   
  }
}

@keyframes componentMount {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}